@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --white-color: #fff;
    --text-color: #0D1321;
    --bg-secondary-color: #FAFAFB;
    --second-text-color: #555963;
}

/* =================HEADER & BANNER SECTION START HERE================== */
nav ul{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 8%;
}
nav ul li h2{
    color: var(--text-color);
}
nav ul button{
    padding: .8rem 1.4rem;
    border-radius: .6rem;
    word-spacing: 5px;
    font-weight: 500;
    color: var(--text-color);
    border: 1px solid rgba(117, 116, 116, 0.774);
    cursor: pointer;
}
.banner-seciton{
    max-width: 1440px;
    height: 652px;
    background: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-content{
    width: 998px;
    height: 582px;
    margin: 0 auto;
    text-align: center;
    padding: 2.5rem 0;
}
.banner-content img{
    width: 240px;
    height: 240px;
}
.banner-content h1{
    font-size: 2.7rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 1.5rem 0;
}
.banner-content p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-text-color);
    max-width: 53rem;
    margin: 0 auto;
}
.banner-content button{
    margin-top: 3rem;
}
.btn{
    font-size: 1.1rem;
    font-weight: 500;
    padding: .8rem 1.6rem;
    color: var(--white-color);
    border-radius: .5rem;
    background-color: var(--text-color);
    box-shadow: 0px 5px 10px rgb(0, 0, 0,0.6);
    cursor: pointer;   
}
/* =================HEADER & BANNER SECTION END HERE================== */

/* ====================WEB DEVELOPMENT SECTION START HERE====================== */
.web-development-section{
    width: 946px;
    height: 1235px;
    margin: 4rem auto;
    background-color: var(--bg-secondary-color);
    border-radius: 1rem;
}
.web-discription{
    text-align: center;
    padding: 0 6rem;
}
.web-discription h1{
    padding-top: 3rem;
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--text-color);
    text-shadow: 0px 2px 8px rgb(0, 0, 0,0.2);
}
.web-discription p{
    color: var(--second-text-color);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
}
.learn-more-cart-section{
    width: 850px;
    height: 290px;
    margin: 2.8rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.learn-more-cart-section img{
    margin-right: 1.5rem;
}
.cart-content{
    padding: 0 3rem;   
}
.cart-content h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
}
.cart-content p{
    font-size: 1rem;
    font-weight: 400;
    color: var(--second-text-color);
    margin: 1rem  0;
}
.learn-more{
    padding: .8rem 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
    border: 1px solid rgb(13, 19, 33);
    margin-top: .4rem;
    border-radius: .2rem;
    cursor: pointer;
}
.learn-more a{
    color: var(--second-text-color);
}
/* =====================EXTRA CSS STYLE==================== */
.background{
    background: linear-gradient(90.00deg,rgba(255, 255, 255, 0),rgb(255, 255, 255) 100%);
    padding-left: 3rem;
}
/* ====================WEB DEVELOPMENT SECTION END HERE====================== */